/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  background-color: #809faa;
  background-color: #031518;
  color: #333;
  color: #000;
  box-sizing: border-box;
}

header {
  text-align: center;
  /* background-color: #007BFF; */
  color: white;
  padding: 1rem 0;
  text-transform: uppercase;
}

header h1::after {
  margin: 0;
  font-size: 2rem;
  content: "";
  height: 4px;
  width: 230px;
  border: 2px solid #6F8FAF;
  display: block;
  margin: auto;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  
}

.service-card {
  /* background: white; */
  background: #1e272e;
  border: 2px solid #6F8FAF;
  border-radius: 10px;
  margin: 2rem;
  padding: 1rem;
  width: 214px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* border: 2px solid #16a085; */
  
  background-color: #0056b3;
  
  transform: translateY(-10px);
}

.service-card i {
  font-size: 3rem;
  color: #007BFF;
  margin-bottom: 1rem;
}

.service-card h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #c94f4f; 
}

.service-card p {
  font-size: 1rem;
  color: #666;
  color: #fff;
  margin-bottom: 1.5rem;
}

.service-card button {
  background-color: #007BFF;
  /* background-color: #666; */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 1rem;
}

.service-card button:hover {
  background-color: #0056b3;
}
